aiohappyeyeballs
aiohttp
aiosignal
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
comm
contourpy
cycler
darkdetect
debugpy
decorator
defusedxml
executing
fastjsonschema
fonttools
fqdn
frozenlist
h5py
idna
ipyevents
ipykernel
ipympl
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
joblib
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_proxy
jupyter_server_terminals
jupyterlab_pygments
jupyterlab_widgets
kiwisolver
lark
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
mistune
mne
more-itertools
msgpack
multidict
nbclient
nbconvert
nbformat
nest-asyncio
nibabel
numpy
packaging
pandas
pandas-flavor
pandocfilters
parso
patsy
pexpect
pillow
pingouin
platformdirs
pooch
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pycparser
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
python-json-logger
pytz
pyvista
pyvistaqt
PyYAML
pyzmq
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
scikit-learn
scipy
scooby
seaborn
Send2Trash
simpervisor
six
sniffio
soupsieve
stack-data
statsmodels
tabulate
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
trame
trame-client
trame-common
trame-server
trame-vtk
trame-vuetify
typing_extensions
tzdata
uri-template
urllib3
vtk
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
wslink
xarray
yarl
